/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%; /*10px*/
  }

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: #5f5e5e;
}

.u-center-text {
    text-align: center;
}

/*---HEADER---*/

header {
    height: 100vh;
    background-image: linear-gradient(to left, rgba(126, 213, 111,0), rgba(126, 213, 111,0.7)), url('../resources/img/main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contact li {
    list-style: none;
    margin: 0 3rem;
    padding-top: 1rem;
    display: block;
    font-size: 2.5rem;
    color: #fff;
}

.contact span {
    padding-left: 1rem;
}

.contact a  {
    color: #fff;
    letter-spacing: 0.3rem;
    padding-left: 1rem;
}

.heading-primary {
    color: #fff;
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    position: absolute;
    display: block;
    top: 40%;
    left: 20%;
    transform: translate(-50%, 50%);

    animation-name: moveInBottom;
    animation-duration: 5s;
}

@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translate(-50%, 25rem);
    }
    
    100% {
     opacity: 1;
    }
  }
  

/*-----MAIN------*/

        /*---SECTION ABOUT---*/


.section-about {
    background-color: #f7f7f7;
    padding: 7rem 0;
    height: 100%;
}

.heading-secondary {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .2rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
}

.heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(#000, .2);
}

.info {
    font-size: 2rem;
    padding-top: 4%;
    display: flex;
    justify-content: space-around;
}

.info-box {
    width: 40%;
}

          /*-----RESULTS-----*/

#results {
    padding: 7rem 0;
}

.before-after {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 4%;
}
          
.photo {
    width: 23%;
    height: 23%;
}

#results p {
    font-size: 1.5rem;
    padding: 3% 3% 0 3%;
}