/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%; /*10px*/
  }

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: #5f5e5e;
    margin: 3rem;
}

.u-center-text {
    text-align: center;
}

/*---HEADER---*/

header {
    height: 100vh;
    background-image: linear-gradient(to left, rgba(126, 213, 111,0), rgba(126, 213, 111,0.7)), url('../resources/img/main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*---MENU---*/

:root {
    --primary-color: rgba(126, 213, 111, 1);
    --overlay-color: rgba(126, 213, 111, 1);
    --menu-speed: 0.75s;
  } 
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
  }
  
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
  }
  
  
  
  /* MENU STYLES */
  .menu-wrap {
    position: fixed;
    top: 4.5%;
    right: 2.5%;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 4.5%;
    right: 2.5%;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 4.5%;
    right: 2.5%;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }

/*-----------*/
  
  .contacts {
    width: 40%;
    position: absolute;
    top: 3%;
    left: 1%;
    /*border: 1px solid #000;*/
    color: #fff;
  }
  
  .icons-messengers, 
  .icons-social-media {
    font-size: 25px;
  }
  
  .icons-messengers {
    margin-bottom: 5%;
  }
  
  .icons-social-media p {
    margin-bottom: 3%;
  }
  
  .fab {
    padding-right: 2%
  }
  
  .fas {
    padding-right: 2%
  }
  
  .fa-whatsapp {
    color: #088b38;
  }
  
  .fa-telegram {
    color: #0088cc;
  }
  
  .fa-viber {
    color: #8f5db7;
  }
  
  .fa-mobile-alt {
    
  }
  
  .fa-instagram {
    color: #e4405f;
  }
  
  .fa-vk {
    color: #4c75a3;
  }
  
  .fa-odnoklassniki-square {
    color: #f57d00;
  }
  
  .fa-facebook-square {
    color: #3b5999;
  }

.heading-primary {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    position: absolute;
    display: block;
    top: 40%;
    left: 20%;
    transform: translate(-50%, 50%);

    animation-name: moveInBottom;
    animation-duration: 5s;
}

@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translate(-50%, 25rem);
    }
    
    100% {
     opacity: 1;
    }
  }
  

/*-----MAIN------*/

        /*---SECTION ABOUT CLUB---*/


.section-about-club {
    background-color: #f7f7f7;
    margin-top: 3rem;
    padding: 7rem 0;
    height: 100%;
}

.heading-secondary {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .2rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
}

/*
.heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
}
*/

.info {
    font-size: 2rem;
    padding-top: 4%;
    display: flex;
    justify-content: space-around;
}

.info-box {
    width: 40%;
}

        /*---SECTION ABOUT ME---*/

#about-me {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
          
.about-box {
    /*border: 1px solid #000;*/
    width: 45%;
    height: 70%
}
          
.about-me-text {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: -2%;
}
.about-me-text h2 {
    padding-bottom: 3%; 
    padding-left: 35%;
}
          
.about-me-img {
    background-image: url('https://www.firestock.ru/download/s/qqu8o89s9hn1yvk/Fotolia_54160475_M.jpg?dl=0');
    background-size: cover;
}

        /*-----MAIN PRODUCTS-----*/

#main-products h2 {
    padding: 3%;
}
          
#main-products {
    background-color: #f7f7f7;        
}
          
.main-products-box {
    /*border: 1px solid #000;*/
    width: ;
    height: 60vh;
    display: flex;
}
          
.main-products-img {
    background-image: url('https://pbs.twimg.com/media/DyppprCXQAEhlb_.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
}
          
.main-products-text {
    width: 50%;
    padding-top: 3%;
    line-height: 1.5;
    font-size: 2rem;
}
          
.main-products-text h3 {
    text-align: center;
    color: #28b485;
}
          
.main-products-text p {
    padding: 3%;
}
          

          /*-----RESULTS-----*/

#results {
    padding: 7rem 0;
}

.before-after {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 4%;
}
          
.photo {
    width: 23%;
    height: 23%;
}

#results p {
    font-size: 1.5rem;
    padding: 3% 3% 0 3%;
}

         /*---PRICE---*/

#section-price {
    background-color: #f7f7f7;
    margin-bottom: 3rem;
    padding: 3%;
}

.section-price-title {
    text-align: center;
    padding: 3%;
}

.price {
    /*border: 1px solid blue;*/
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.price-box {
    /*border: 1px solid red;*/
    width: 30%;
    height: 50%;
    background-color: #fff;
    color: #28b485;
    border-radius: 5px;
    font-size: 3rem;
    padding: 2%;
    text-align: center;
    box-shadow: 0 2px 3px #e3e3e3;
    /*efefef*/
} 

.price-box-middle {
    height: 70%;
}

.best-price {
    color: #ff0000;
}

.price-including {
    font-size: 2rem;
    padding: 3%;
}

.price-including h3 {
    font-family: 'Playfair Display', serif;
    color: #55c57a;
    text-align: center;
    padding: 2%;
}

.price-including-list, .academy-success-list {
    list-style: none;
}

.academy-success-list li {
    padding-left: 7%;
}

.fa-check {
    color: green;
    padding-right: 1%;
}
          
                    

        /*-----BOOKING-----*/

#section-book {
    padding: 10rem 10rem;
    background-image: linear-gradient(to right bottom,  #7ed56f, #28b485);
}

.book {
    background-image: linear-gradient(105deg,
                                     rgba(255, 255, 255, .9) 0%,
                                     rgba(255, 255, 255, .9) 50%,
                                        transparent 50%),
                                     url(../resources/img/book.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2);

    height: 50rem;
}

.book-form {
    width: 50%;
    padding: 6rem;
}

.book-margin {
    margin-bottom: 4rem;
}

.heading-secondary-reg {
    font-family: "Lato", sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .2rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
}

.form-group:not(:last-child) {
    margin-bottom: 2rem;
}

.form-input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255,.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-bottom: 3px solid #55c57a;
}

.form-input::-webkit-input-placeholder {
    color: #999;
}

.form-label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
}

.form-input:placeholder-shown + .form-label{
 opacity: 0;
 visibility: hidden;
 transform: translateY(-4rem);
}

button {
    color: #fff;
    background-color: #55c57a;
    padding: 1rem;
    border-radius: 1rem;
}

button:focus {
    outline: none;
}

/*-----FOOTER-----*/

footer {
    background-color: #333;
    height: 25rem;
}

footer h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    padding-top: 2rem;
}

.footer-info {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.footer-link li {
    list-style: none;
    padding: 5% 16%;
  }
  
  .footer-link a {
      color: #fff;
  }
  
  .footer-link a:hover {
      color: #28b485;
  }